
<table class="product-table"> 
    <thead>
        <tr>
            <th></th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let pizza of pizzas" [ngClass]="{'clearance': pizza.clearance}">
            <td><img [src]="pizza.image" [alt]="pizza.name" class="img-thumbnail"></td>
            <td>{{pizza.name}}</td>
            <td>{{pizza.descrip}}</td>
            <td>{{pizza.price | currency }}</td>
            <td><span *ngIf="pizza.stock==0" class="badge text-bg-warning">SIN STOCK</span></td>
            <td>
               <app-input-integer [(quantity)]="pizza.quantity" [max]="pizza.stock" *ngIf="pizza.stock" (maxReached)="maxReached($event)"></app-input-integer>
                <button class="btn" (click)="addToCart(pizza)" *ngIf="pizza.stock>0">Comprar</button>
            </td>
        </tr>

    </tbody>
</table>
